html {
  font-family: Arial, Verdana, sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 28px;
}

.container {
  margin: 0 22px;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#embed-container {
  flex-grow: 1;
}

iframe {
  border: none;
  height: 90vh;
}

@media (min-height: 600px) {
  iframe {
    height: 93.8vh;
  }
}

@media (min-height: 700px) {
  iframe {
    height: 94.3vh;
  }
}

@media (min-height: 800px) {
  iframe {
    height: 95.3vh;
  }
}

@media (min-height: 1000px) {
  iframe {
    height: 95.8vh;
  }
}

@media (min-height: 1200px) {
  iframe {
    height: 96.3vh;
  }
}
